<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Agregar productosa</h1>
        <form method="POST" action="/home">
            <input type="text" name="title" placeholder="username">
            <input type="number" name="precio" placeholder="username">
            
            <input type="submit">

      </div>
    </main>
  </body>
</html>
